.front {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10em;
    padding-bottom:10em;
    background-image: no-repeat;
    color: #EEE;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../Assets/home.jpg);
    background-position: bottom;
}

#about {
    margin:20px;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
}

#phpBar {
    width: 60%
}

#jsBar {
    width: 70%
}

#cssBar {
    width: 80%
}

#htmlBar {
    width: 90%
}

#reactBar {
    width: 50%;
    background-color: #0D6EFD;
}

.aboutSeparator {
    border: 5px solid #0D6EFD;
    border-radius: 5px;
    opacity: 1;
}

.johnDoePic {
    border-radius: 2%;
  max-width: 100%;
  height: auto;

}

